<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr th:each="user: ${users}">
    <td th:text="${user.getId()}"/>
    <td th:text="${user.getAge()}"/>
    <td th:text="${user.getEmail()}"/>
    <td th:text="${user.getFirstName()}"/>
    <td th:text="${user.getLastName()}"/>
    <a th:href="@{'/user?id='+ ${user.getId()}+'&name='+ ${user.getFirstName()}}">info</a>
    <a th:href="@{'/user/delete/'+ ${user.getId()}}">delete</a>
    <hr>
</tr>

<label for="firstNameSearch">first name search</label>
<input id="firstNameSearch" type="text">

<label for="emailSearch">email search</label>
<input id="emailSearch" type="text">

<label for="filterSearch">search</label>
<input id="filterSearch" type="text">

<button onclick="searchUsers()">search</button>

<div id="usersList"></div>


<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    window.onload = pageLoaded();

    function pageLoaded() {
        getAllUsers();
    }


    function getAllUsers() {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/user/search",
            dataType: 'json',
            data: {},
            cache: false,
            timeout: 600000,
            success: function (user) {
                insertUsers(user);
            }
        });
    }

    function searchUsers() {
        let usersDiv = document.getElementById('usersList');
        usersDiv.innerHTML = '';

        let firstNameSearch = document.getElementById('firstNameSearch').value;
        let emailSearch = document.getElementById('emailSearch').value;
        let filterSearch = document.getElementById('filterSearch').value;

        let request = {
            'firstName': firstNameSearch,
            'email': emailSearch,
            'name' : filterSearch
        }

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/user/search",
            dataType: 'json',
            data: JSON.stringify(request),
            cache: false,
            timeout: 600000,
            success: function (user) {
                insertUsers(user);
            }
        });
    }

    function insertUsers(user) {
        let usersDiv = document.getElementById('usersList');

        for (let i = 0; i < user.length; i++) {
            let user = user[i];

            let userTr = document.createElement('tr');

            let idTd = document.createElement('td');
            let ageTd = document.createElement('td');
            let emailTd = document.createElement('td');
            let firstNameTd = document.createElement('td');
            let lastNameTd = document.createElement('td');

            let infoLink = document.createElement('a');
            let deleteLink = document.createElement('a');

            idTd.innerText = user.id;
            ageTd.innerText = user.age;
            emailTd.innerText = user.email;
            firstNameTd.innerText = user.firstName;
            lastNameTd.innerText = user.lastName;

            infoLink.href = '/user?id=' + user.id;
            infoLink.innerText = 'info';

            userTr.append(idTd);
            userTr.append(ageTd);
            userTr.append(emailTd);
            userTr.append(firstNameTd);
            userTr.append(lastNameTd);

            userTr.append(infoLink)
            userTr.append(deleteLink)

            usersDiv.append(userTr);
        }
    }

</script>
</body>
</html>